﻿
@{
    ViewBag.Title = "О хайку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Хайку</h1>
    <p class="lead">
        Хайку – национальная японская форма поэзии, жанр поэтической миниатюры, просто, лаконично, ёмко и достоверно изображающий природу и человека в их нерасторжимом единстве.
    </p>
</div>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <p class="lead">
            …То, что не высказал я<br />
            Сильнее того, что сказал.<br />
            <span class="author">Рубоко Шо</span>
        </p>
        <p class="lead">Традиционное японское хайку – это 17-сложное стихотворение, записываемое в один столбец (строку) и состоящее из трёх ритмических частей по 5-7-5 слогов. Внутренне хайку делится, как правило, на две смысловые части 12+5 или 5+12. Переводы и хайку, сочиненные на других языках, принято записывать в три строки.</p>
        <p class="lead">
            Маленький краб<br />
            побежал по ноге.<br />
            Чистая вода.<br />
            <span class="author">Мацуо Басё</span>
        </p>
        <p class="lead">
            В одной из этих частей, как правило, содержится «киго» – сезонное слово или словосочетание, дающее понять, в какое время года происходит действие стиха. Это может быть прямое указание на сезон – «осенний вечер», или же слово, за которым закреплено то или иное сезонное значение, например, «луна», «ирисы», «краб» и т.д.
        </p>
        <p class="lead">
            Хайку выделилось как жанр в процессе развития поэтической игры по дописыванию чередующихся трехстиший и двухстиший, называемой «хайкай-но рэнга» (дословно «шуточная рэнга»), впоследствии «рэнку».
        </p>
        <p class="lead">
            Важным звеном рэнку было первое трехстишие, называвшееся хокку (начальная строфа). Хокку обладало особыми качествами по сравнению с другими строфами цепочки: наличием киго, а также «кирэдзи» – паузы между двумя частями строфы. Кроме того, хокку обладало недосказанностью, незавершенностью, многосмысленным толкованием и тем самым побуждало читателя или участника сложения рэнку к сотворчеству в процессе развертывания цепочки образов.
        </p>
        <p class="lead">
            Постепенно хокку стали восприниматься как самостоятельные произведения и дали начало жанру ХАЙКУ, который занял одно из главных мест в японской поэзии.
        </p>
        <p class="lead">
            Хайку завоевало множество поклонников по всему миру. Пишут хайку и на русском языке.
        </p>
    </div>
</div>

