﻿
@{
    ViewBag.Title = "Как писать хайку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Хайку</h1>
    <p class="lead">
        Хайку – национальная японская форма поэзии, жанр поэтической миниатюры, просто, лаконично, ёмко и достоверно изображающий природу и человека в их нерасторжимом единстве.
    </p>
</div>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h2 class="display-5" align="center">Как писать хайку</h2>
        <p class="lead">
            Если и вас заинтересовал этот жанр, то попробуйте при написании хайку придерживаться нескольких правил, приведенных ниже. Это поможет вам писать трехстишия приближенно к классическому пониманию хайку. Потом, когда правила будут усвоены, вы можете их «забыть» и перейти к написанию хайку в современном ключе, как это сегодня делают многие и на родине хайку. Сейчас в Японии существует несколько сотен школ хайку, составляющих две больших группы: школы «классического хайку» и школы «современного хайку».
        </p>
        <h2 class="display-6" align="center">
            Количество слогов и строк
        </h2>
        <p class="lead">
            Вопрос о количестве слогов в хайку, написанном на русском и других языках, уже давно считается решенным. Русские слоги и звуковые единицы в японском – это разные вещи, можно лишь придерживаться общей схемы расположения слогов, помня про краткость и лаконичность. Пишите в три строки. Не превышайте формулу 5-7-5 больше чем в полтора раза, т.е. располагайте в каждой строчке не более 10 слогов. Старайтесь одну из строчек делать чуть длиннее остальных двух. Также допускается использование только строчных букв.
        </p>
        <h2 class="display-6" align="center">
            Сезонные слова
        </h2>
        <p class="lead">
            <i>После длительных многолетних литературных дискуссий и попыток отойти от канона современные японские поэты все же согласились признать обязательным наличие в хайку сезонных слов.</i>
            По их мнению, киго необходимы – потому что они влекут за собой определенные ассоциации, значительно расширяющие смысловую и эмоциональную ёмкость стихотворения. К тому же традиция использования сезонных слов сформировалась гораздо раньше хайку – в поэзии танка – и составляет важную часть японской художественной культуры.
        </p>
        <p class="lead">
            В русской литературной традиции такая привязка слов к определенным сезонам не выражена столь отчетливо. Но все же рекомендуется включать в хайку слово или словосочетание, обозначающее состояние природы на момент, описываемый в хайку. Важны не сезонные слова сами по себе, а образы, которые они вызывают. Например «сажаем картошку» – поздняя весна, «бенгальские огни» – Новый год и т.д. При этом важно находить точные и лаконичные слова, переносящие читающего в то же самое ситуативное пространство действия хайку, что подразумевал автор.
        </p>
        <p class="lead">
            Ты улыбнулась.<br />
            С медленной льдины вдали<br />
            Птица взлетает.<br />
            <span class="author">Андрей Шляхов</span>
        </p>
        <p class="lead">
            Если же вы хотите написать о каком-то исключительном природном явлении, свойственном только вашей области, городу или деревне, то пишите хайбун (небольшая прозаическая зарисовка, увенчанная хайку), иначе вас поймут только живущие рядом с вами.
        </p>
        <h2 class="display-6" align="center">
            Режущее слово
        </h2>
        <p class="lead">
            Разделительное слово (кирэдзи) не имеет аналогов вне японского языка и заменяется знаками русской пунктуации – точка, тире, запятая, восклицательный и вопросительные знаки, двоеточие, многоточие – т.е. интонационно, т.к. сами знаки могут быть опущены автором.
        </p>
        <h2 class="display-6" align="center">
            Двухчастность
        </h2>
        <p class="lead">
            Хайку должно читаться легко и естественно. Не пишите хайку в три разных предложения – трехстишие будет выглядеть «рваным».
        </p>
        <p class="lead">
            Также обычно не рекомендуется писать хайку одним законченным предложением. Делите хайку на две взаимосвязанные части, разделяя их знаками пунктуации и смысловой разбивкой и говоря в каждой из них о разном. Чем дальше будут разнесены части – при внутреннем тяготении друг к другу – тем сильнее будет пробегать ток от одного полюса стиха к другому. Например:
        </p>
        <p class="lead">
            бабье лето…<br />
            над уличным проповедником<br />
            смеются дети<br />
            <span class="author">Владислав Васильев</span>
        </p>
        <p class="lead">
            Взору предстает живописная, чуть ироничная сценка, поданная без давления на восприятие читателя, даже с некоторой загадкой – две части стиха разнесены довольно сильно. Но присмотревшись, можно разглядеть связующие ниточки, которые заставляют звучать пространство между строк: тепло бабьего лета в первой строке и смех детей в третьей, бабье лето как последний островок сезонной жизни природы и – проповедник как посредник между людьми и «истиной». «Будьте как дети» – приходит на ум под смех детей… Кто же приходит к людям и возвещает о мире ином, о лучшей доле и т.п. в тот момент, когда мир этот еще столь хорош и чарующ в своем последнем перед осенними холодами всплеске тепла, цветенье трав, празднестве цвета еще не облетевшей листвы…
        </p>
        <h2 class="display-6" align="center">
            Не пишите лишнего, но и не отсекайте нужное
        </h2>
        <p class="lead">
            В хайку – минимум слов. Поэтому каждое значит очень много. Создавая хайку, отбирают только самые необходимые, точные слова.
        </p>
        <p class="lead">
            Взгляд на жену –<br />
            и снова<br />
            лепит кувшин гончар.<br />
            <span class="author">Багджо</span>
        </p>
        <p class="lead">
            Если без какого-то слова можно обойтись в хайку, попробуйте без него обойтись. Избегайте повторов слов, однокоренных слов, смыслов – любого масленого масла – если это не является осознанной задумкой.
        </p>
        <p class="lead">
            Любое художественное произведение – это место встречи автора и читателя. Но для хайку это утверждение особенно актуально – ввиду малости его объема. Понятное с полуслова человеку одной культурной традиции может быть не понятным человеку, живущему в другой стране, с другими обычаями и привычками. В хайку такое сотворчество возможно только если они оба – автор и читатель – находятся в едином смысловом и культурном поле.
        </p>
        <p class="lead">
            Точно так же может оказаться игрой в пустые ворота описание опыта человека с другой, нежели читатель, «эмоциональной планеты». Поэтому если вы хотите написать хайку, которое смогут понять другие люди, прежде подумайте, как построить мост от образа, появившегося у вас в сознании, – к образу, который должен возникнуть у возможного читателя.
        </p>
        <p class="lead">
            стал я стар<br />
            молодая картошка<br />
            зеленый лук<br />
            <span class="author">Боруко</span>
        </p>
        <h2 class="display-6" align="center">
            Показывайте, а не рассказывайте!
        </h2>
        <p class="lead">
            Рисуйте картину, показывая самый минимум, но закладывайте в него толику смыслового пороха. Акцентируйте внимание на одной-двух взаимосвязанных деталях так, чтобы можно было, ухватившись за кончик нити, размотать весь клубок. Читатель сам должен задать внутри себя вопрос «Почему?» или «Зачем?» и сам же найти ответ.
        </p>
        <p class="lead">
            Первый летний дождик.<br />
            Раскрываю и…<br />
            складываю зонт.<br />
            <span class="author">Феликс Тамми</span>
        </p>
        <h2 class="display-6" align="center">
            Пишите о реальных, а не выдуманных событиях, используйте простые слова
        </h2>
        <p class="lead">
            Не надо говорить высокопарно, пафосно или использовать «словечки», понятные только вам. Показывайте все таким, какое оно есть. Но соединяйте образы внутри хайку так, чтобы они могли задеть, тронуть читателя, заставить его задуматься. Представьте, что вы режиссер кинокартины, и все, что у вас есть – это три мгновенья и изображения, которые можно снять без спецэффектов; еще у вас есть запахи, прикосновения, тепло, холод, боль – все то, что можно воспринять органами чувств…
        </p>
        <p class="lead">
            Ещё на заре формирования жанра творцы хайку называли его поэзией искреннего чувства и глубокой мысли. Для того чтобы хоть на секунду изменить читающего, чтобы соединить в трех строках вечное и преходящее, природное и человеческое, высокое и обыденное – чтобы сказать многое через малое, показав при этом тесную взаимосвязь всего сущего, хайку должно уметь сгустить ощущение, воспоминание, чувство. Такая смысловая концентрированность и точность может быть достигнута несколькими путями.
        </p>
        <h2 class="display-6" align="center">
            Не разжевывайте, а недоговаривайте
        </h2>
        <p class="lead">
            Важные принципы поэзии хайку – недосказанность, многозначность и послечувствование.
        </p>
        <p class="lead">
            Автор хайку не называет чувство, а вызывает его, подводя читающего к развертыванию своей цепочки ассоциаций. Эффект, вызываемый хайку, сравним с эффектом недостроенного моста: перебраться по нему на «противоположный берег» можно лишь достроив его в своем воображении. Откажитесь от слов «какая тоска», «мне так плохо», «любовь ушла» и т.д.
        </p>
        <h2 class="display-6" align="center">
            Используйте прием контраста и противопоставления – объектов, планов, явлений, ощущений…
        </h2>
        <p class="lead">
            Нет звездам числа<br />
            По дну бездны бредем<br />
            Я и моя собака.<br />
            <span class="author">Кицунэ</span>
        </p>
        <h2 class="display-6" align="center">
            Сопоставляйте, сравнивайте – объекты, планы, явления, ощущения…
        </h2>
        <p class="lead">
            Это один из самых распространенных приемов в хайку. Размещайте рядом родственные объекты и явления. Только забудьте про слова «как», «будто», «словно», «похож» – просто находите те точки времени и пространства, где совпадение случается само.
        </p>
        <p class="lead">
            туман над рекой.<br />
            мальчишки с удочками<br />
            клюют носами<br />
            <span class="author">Шеба</span>
        </p>
        <h2 class="display-6" align="center">
            Необычное в привычном
        </h2>
        <p class="lead">
            Густо замешан<br />
            На желтых листьях<br />
            Первый снеговик<br />
            <span class="lead">Нора</span>
        </p>
        <h2 class="display-5">
            Кратко о том, чего не стоит делать при написании хайку
        </h2>
        <p class="lead">
            Не пишите в рифму, она дает чувство завершенности, а в хайку должна остаться приоткрытая и приглашающая дверь недосказанности.<br />
            Не пишите назидательно, высокопарно или сентенциозно, не давайте оценок.<br />
            Не выдумывайте хайку «из головы», не оперируйте невещественным, абстрактным, но делайте предметом хайку окружающий мир и собственный опыт, пусть даже воображаемый.<br />
            Не пытайтесь назвать чувство или состояние, а лишь покажите их.<br />
            Не пишите афоризмы, навязывая то единственное представление, которое возникло у вас.<br />
            Не пишите об иных временах, кроме настоящего, или пишите через призму настоящего – хайку должно создавать ощущение, что события разворачиваются у вас на глазах.<br />
            Старайтесь избегать явных метафор, сравнений, олицетворений и т.п. Метафора допустима, если равновозможно и метафорическое и буквальное ее прочтение.<br />
            Прием ради приема делает хайку плоским и лишает непосредственности. Игра слов, графические ухищрения и пр. хороши только в случае их смысловой адекватности – как и в любом художественном тексте.<br />
        </p>
        <h2 class="display-5">
            Ищите тайну. Недостроенный мост.
        </h2>
        <p class="lead">
            Когда в хайку сополагаются или контрастируют два понятных образа – с этим все ясно, мост строится и дает нам перейти из одного видимого пространства в другое. Но бывают хайку, в которых виден только один берег – тот, с которого все начинается, на котором стоит один конец моста. Другой же – теряется в загадочной дымке недовысказанного в стихе. Мы можем только почувствовать глубину и манящую красоту бытия сквозь умело созданные междустрочия хайку, разложить же на составляющие неуловимый аромат, витающий вокруг такого стиха, – так просто не удается, его можно только вдохнуть… Надо очень пристально, нежно и глубоко, почти медитативно внимать миру, природе, своей душе, и тогда, быть может, смотрящему да откроется…
        </p>
        <p class="lead">
            <i>
                © 2009 Наталия Леви (впервые опубликовано на AIF.RU)<br />
                © 2010 c исправлениями и дополнениями, Наталия Леви<br />
            </i>
        </p>
    </div>
</div>

