﻿@model IEnumerable<ProjectSite.Models.Haiku>
@{
    ViewBag.Title = "Хайку";
    bool authorized = User.Identity.IsAuthenticated;
}

<div class="main-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Хайку</h1>
    <p class="lead">
        Хайку – национальная японская форма поэзии, жанр поэтической миниатюры, просто, лаконично, ёмко и достоверно изображающий природу и человека в их нерасторжимом единстве.
    </p>
</div>
<div class="container">
    <div class="text-center">
        <h3 class="display-4">Случайные хайку</h3>
        <br />
    </div>
    @{
        var modelList = Model.ToList();
        int num = 0;
    }
    @if (modelList.Count != 0) {
        for (int i = 0; i < modelList.Count / 4 + 1; i++)
        {
            <div class="card-deck mb-3">
                @for (int j = 0; j < 4; j++)
                {
                    if (num < modelList.Count)
                    {
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <p>@modelList[num].Content</p>
                            </div>
                            <div class="card-header">
                                @{
                                    if ((authorized && modelList[num].UserId == ViewBag.MyId) || ViewBag.IsAdmin)
                                    {
                                        <p align="right">
                                            <a href="/Haiku/Edit/@modelList[num].Id">Изменить</a>
                                            <span> | </span>
                                            <a href="/Haiku/Delete/@modelList[num].Id">Удалить</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p align="right">
                                            <span class="author-card" align="right">@modelList[num].UserName</span>
                                        </p>
                                    }
                                }
                            </div>
                        </div>
                        num++;
                    }
                }
            </div>
        }
    }
    <div class="text-center">
        <h3 class="my-0 mr-md-auto font-weight-normal"><a href="/Haiku/Index">Все хайку</a></h3>
    </div>
</div>