﻿@model ProjectSite.Models.ApplicationUser
@{
    ViewBag.Title = "Удаление пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="display-5">Удаление пользователя</h2>

    <p class="lead">Вы действительно хотите удалить этого пользователя?</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Имя пользователя:
            </dt>
            <dd>
                @Html.DisplayFor(Model => Model.Name)
            </dd>
            <dt>
                Email:
            </dt>
            <dd>
                @Html.DisplayFor(Model => Model.Email)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default btn-success" /> |
                @Html.ActionLink("Назад", "Index")
            </div>
        }
    </div>
</div>