﻿@model IEnumerable<ProjectSite.Models.ApplicationUser>

@{
    ViewBag.Title = "Управление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="display-5">Список пользователей</h2>

    <table class="table">
        <tr>
            <th>
                Имя пользователя
            </th>
            <th>
                Адрес электронной почты
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.UserName != User.Identity.Name)
                    {
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id });
                    }
                    else
                    {
                        <span>Вы</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>
