﻿@model ProjectSite.Models.IndexViewModel
@{
    ViewBag.Title = "Профиль";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Добро пожаловать, @ViewBag.Name</h4>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <h4>Ваши хайку:</h4>
                @{
                    var modelList = ViewBag.Haikus;
                    int num = 0;
                }
                <p>
                    <a class="btn btn-outline-success" href="/Haiku/Create">Добавить хайку</a>
                </p>
                <div>
                    @if (modelList.Count != 0)
                    {
                        for (int i = 0; i < modelList.Count / 3 + 1; i++)
                        {
                            <div class="card-deck mb-3">
                                @for (int j = 0; j < 3; j++)
                                {
                                    if (num < modelList.Count)
                                    {
                                        <div class="card mb-4 box-shadow">
                                            <div class="card-body">
                                                <p>@modelList[num].Content</p>
                                            </div>
                                            <div class="card-header">
                                                @{
                                                    if (modelList[num].UserId == ViewBag.MyId)
                                                    {
                                                        <p align="right">
                                                            @Html.ActionLink("Изменить", "Edit", new { id = modelList[num].Id })
                                                            <span> | </span>
                                                            @Html.ActionLink("Удалить", "Delete", new { id = modelList[num].Id })
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p align="right">
                                                            <span class="author-card" align="right">@modelList[num].UserName</span>
                                                        </p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        num++;
                                    }
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p class="lead">Вы пока ещё не написали ни одного хайку</p>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <div class="card mb-3 box-shadow">
                        <div class="card-header">
                            <p class="lead">
                                @ViewBag.Name
                            </p>
                        </div>
                        <div class="card-body">
                            <p><b>Email:</b></p>
                            <p>@ViewBag.Email</p>
                            <p><b>Роль:</b></p>
                            <p>
                                <ul>
                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        <li>@role</li>
                                    }
                                </ul>
                            </p>
                            <p><a class="btn btn-outline-success" href="/Manage/Settings">Настройки</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>