﻿@model ProjectSite.Models.Haiku

@{
    ViewBag.Title = "Дабавить хайку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Написать хайку</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Новое хайку</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control box-sized" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Написать" class="btn btn-default btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>