﻿@model ProjectSite.Models.Haiku

@{
    ViewBag.Title = "Удалить хайку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Удаление</h2>

    <h3>Вы действительно хотите удалить это хайку?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Content):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                Дата создания:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default btn-success" /> |
                @Html.ActionLink("Отмена", "Index")
            </div>
        }
    </div>
</div>