﻿@model IEnumerable<ProjectSite.Models.Haiku>

@{
    ViewBag.Title = "Хайку";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool authorized = User.Identity.IsAuthenticated;
}
<div class="container">
    <h2>Хайку</h2>
    @{ 
        if (authorized == true)
        {
            <p>
                <a class="btn btn-outline-success" href="/Haiku/Create">Добавить хайку</a>
            </p>
        }
    }
</div>
@{ 
    var modelList = Model.ToList();
    int num = 0;
}
<div class="container">
    @if (modelList.Count != 0)
    { 
        for (int i = 0; i < modelList.Count / 4 + 1; i++)
        {
            <div class="card-deck mb-3">
                @for (int j = 0; j < 4; j++)
                {
                    if (num < modelList.Count)
                    {
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <p>@modelList[num].Content</p>
                            </div>
                            <div class="card-header">
                                @{
                                    if ((authorized && modelList[num].UserId == ViewBag.MyId) || ViewBag.IsAdmin)
                                    {
                                        <p align="right">
                                            @Html.ActionLink("Изменить", "Edit", new { id = modelList[num].Id })
                                            <span> | </span>
                                            @Html.ActionLink("Удалить", "Delete", new { id = modelList[num].Id })
                                        </p>
                                    }
                                    else
                                    {
                                        <p align="right">
                                            <span class="author-card" align="right">@modelList[num].UserName</span>
                                        </p>
                                    }
                                 }  
                            </div>
                        </div>
                        num++;
                    }
                }
            </div>
        }
    }
</div>
