﻿
@{
    ViewBag.Title = "Поиск";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool authorized = User.Identity.IsAuthenticated;
}


<div class="main-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead"><b>Найденные хайку по запросу</b></p>
    <h2 class="display-6">@ViewBag.SearchRequest</h2>
</div>
<div class="container">
    @if (ViewBag.Haikus == null || ViewBag.Haikus.Count == 0)
    {
        <p class="lead">Ничего не найдено</p>
    }
    else
    {
        var modelList = ViewBag.Haikus;
        int num = 0;
            
        for (int i = 0; i < modelList.Count / 4 + 1; i++)
        {
            <div class="card-deck mb-3">
                @for (int j = 0; j < 4; j++)
                {
                    if (num < modelList.Count)
                    {
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <p>@modelList[num].Content</p>
                            </div>
                            <div class="card-header">
                                @{
                                    if ((authorized && modelList[num].UserId == ViewBag.MyId) || ViewBag.IsAdmin)
                                    {
                                        <p align="right">
                                            <a href="/Haiku/Edit/@modelList[num].Id">Изменить</a>
                                            <span> | </span>
                                            <a href="/Haiku/Delete/@modelList[num].Id">Удалить</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p align="right">
                                            <span class="author-card" align="right">@modelList[num].UserName</span>
                                        </p>
                                    }
                                }
                            </div>
                        </div>
                        num++;
                    }
                }
            </div>
        }
    }
</div>


