﻿body {
    background: url(/Content/assets/img/pattern.png) bottom left fixed no-repeat, url(/Content/assets/img/bg.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.box-sized {
    width:500px;
    height:150px;
}

.nav-bg {
    background-color:#FCFCFC!important;
}
.main-header {
    max-width: 700px;
}

.author {
    font-style: italic;
    margin-left:50px;
}

.author-card {
    font-style:italic;
    text-align:right;
}

.form-flex {
    display:inline-block;
}

.form-inline-flex {
    display: inline-flex;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-search {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1.2;
}

.margin-small {
    margin:5px;
}

