﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico">
    <link href="~/Content/BS/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/BS/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/BS/css/bootstrap-reboot.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @{
        var names = new string[]
        {
            "Трансцендентные хайку",
            "Бездарные хайку",
            "Психоделические хайку",
            "Гипотетические хайку",
            "Аскетичные хайку",
            "Полезные хайку",
            "Бесполезные хайку",
            "Идеологические хайку",
            "Критические хайку",
            "Нелогичные хайку",
            "Сюрреалистичные хайку",
            "Хайку всем даром"
        };
        var rnd = new Random();
        var name = names[rnd.Next(names.Length)];
    }
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow nav-bg">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-dark">@name</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2" href="/Haiku/Index">Все хайку</a>
            <a class="p-2" href="/Home/About">О хайку</a>
            <a class="p-2" href="/Home/HowTo">Как писать хайку</a>
            @if (ViewBag.IsAdmin)
            {
                <a class="p-2" href="/Admin/Index">Управление</a>
            }
            @Html.Partial("_LoginPartial")
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <div class="row" style="margin-bottom:50px;">
                <div class="col-md-7">
                    <span class="lead">&copy; @DateTime.Now.Year – @name</span>
                </div>
                <div class="col-md-5" style="margin-top:-5px;">
                    <form action="/Search" method="get" class="form-flex">
                        <div class="form-inline-flex">
                            <input class="form-inline-flex form-control margin-small" type="search" placeholder="Поиск..." aria-label="Поиск" name="SearchRequest" style="min-width:350px;" />
                            <button class="btn btn-outline-success margin-small">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
