﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <span class="p-2">
        <form action="/Account/LogOff" id="logoutForm" method="post" class="form-flex">
            @Html.AntiForgeryToken()
            <span><a href="/Manage/Index">Профиль</a></span>
            <span> | </span>
            <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
        </form>
    </span>
}
else
{
    <span class="p-2">
        <a href="/Account/Register">Регистрация</a>
        <span> | </span>
        <a href="/Account/Login">Вход</a>
    </span>
}
